html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #dcfeff;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color:white;
}

.App {
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #ff3ea5ff;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 6rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.item {
  background-color:#9920f8;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.completed {
  background-color:#9920f88c;
  text-decoration: line-through;
}

.new-todo {
    color: #edff00ff;
    font-size: 1.4rem;
    font-weight: bolder;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: white;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid white;
  margin-right: 8px;
}

button {
  background-color: #edff00ff;
  border: 1px solid #edff00ff;
  color: #00a4ccff;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #10a5a5;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}
